$result-background-color: rgb(242, 242, 242);
$result-title-color: rgb(100, 120, 236);
$result-preview-color: rgb(100, 120, 236);
$result-link-color: rgb(19, 30, 179);
$result-border-color: rgb(100, 120, 236);

.result {
    background-color: $result-background-color;
    padding: 1rem;
    width: 50%;
    border: 1px solid $result-border-color;

    &__title {
        color: $result-title-color;
        font-weight: bold;
    }

    &__preview {
        color: $result-preview-color;
    }

    &__link {
        color: $result-link-color;
    }
}
.result + .result {
    margin-top: 0rem;
    border-top: none;
}